/*----------
    Code
----------*/

pre {
  padding: 0.2em 0.4em 0.4em;
  word-wrap: normal;
  overflow: auto;
  @extend %spacing-base-bottom;
}

code {
  padding: 0.2em 0.4em;
  font-family: $code-font-face;
  @extend %micro;
}

pre,
code {
  line-height: 1;
  @extend %bg-color-brand;
  @include border-radius($spacing-unit-mini);
}

pre > code {
  padding: 0;
  background-color: transparent;
}
