/*-----------
    Links
-----------*/

a {
  color: $body-font-color;
  border-bottom: 1px solid $body-font-color;

  &:hover,
  &:active,
  &:focus {
    border-bottom: 1px solid $color-brand;
  }

  &:active {
    position: relative;
    top: 1px;
  }

}
