/*-----------
    Media
------------*/

// http://www.stubbornella.org/content/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/

%media {
  display: block;
  @extend %clearfix;
}

  %media-body {
    overflow: hidden;
  }

  %media-img {
    margin-right: $spacing-unit-half;
    @extend %layout-left;
  }

  %media-img-rev {
    margin-left: $spacing-unit-half;
    @extend %layout-right;
  }
