//========
//  Body
//========

//--------
//  Font
//--------

$body-font-face: Georgia, Times New Roman, Serif;
$body-font-size: 125%;
$body-font-weight: 400;
$body-font-color: #333;
$body-line-height: 1.5;

//--------------
//  Background
//--------------

$body-color-bg: #eee;
$body-color-alt: darken($body-color-bg, 20%);
