//==========
//  Shared
//==========

//------------
//  Spacings
//------------

// Base
$spacing-unit-base: 1.5em;
$spacing-unit-half: 0.75em;

// Common
$spacing-unit-mini: 0.25em;
$spacing-unit-small: 0.5em;
$spacing-unit-medium: 1em;
$spacing-unit-big: 2em;

//---------
//  Units
//---------

$unit-full-width: 100%;
$unit-nine-tenths: 90%;
$unit-four-fifths: 80%;
$unit-three-quarters: 75%;
$unit-seven-tenths: 70%;
$unit-two-thirds: 66.66%;
$unit-three-fifths: 60%;
$unit-half-width: 50%;
$unit-two-fifths: 40%;
$unit-one-third: 33.33%;
$unit-three-tenths: 30%;
$unit-one-quarter: 25%;
$unit-one-fifth: 20%;
$unit-one-tenth: 10%;
