//==============
//  Breakpoint
//==============
//
// Usage:
// @include breakpoint("palm") {
//    //...
// }
//
@mixin fluid-point($name) {
  $breakpoint-found: false;

  @each $breakpoint in $breakpoints {
    $breakpoint-name: nth($breakpoint, 1);
    $breakpoint-size: nth($breakpoint, 2);

    @if ($name == $breakpoint-name) {
      @media only screen and #{$breakpoint-size} {
        @content;
      }
    }
  }

  @if ($breakpoint-found == false) {
    @warn "Unrecognized breakpoint: #{$name}";
  }
}
