//==========
//  Widths
//==========
//
// Usage:
// @include widths("palm", $palm-widths, "hide");
//
@mixin fluid-widths($name, $widths, $helper) {
  $breakpoint-found: false;

  @if ($name == "default") {
    $breakpoint-found: true;

    @each $width in $widths {
      $width-name: nth($width, 1);
      $width-size: nth($width, 2);

      #{$x}#{$width-name} {
        width: #{$width-size};
      }
    }
  }
  @else {
    @each $breakpoint in $breakpoints {
      $breakpoint-name: nth($breakpoint, 1);
      $breakpoint-size: nth($breakpoint, 2);

      @if ($name == $breakpoint-name) {
        $breakpoint-found: true;

        @media only screen and #{$breakpoint-size} {
          @each $width in $widths {
            $width-name: nth($width, 1);
            $width-size: nth($width, 2);

            #{$x}#{$breakpoint-name}--#{$width-name} {
              width: #{$width-size};
            }
          }

          @if ($helper == "hide") {
            #{$x}#{$breakpoint-name}--hide {
              visibility: hidden;
              display: none;
            }
          }
          @else if ($helper == "show") {
            #{$x}#{$breakpoint-name}--show {
              visibility: visible;
              display: inline-block;
            }
          }
          @else if ($helper == "both") {
            #{$x}#{$breakpoint-name}--hide {
              visibility: hidden;
              display: none;
            }

            #{$x}#{$breakpoint-name}--show {
              visibility: visible;
              display: inline-block;
            }
          }
        }
      }
    }
  }
  @if ($breakpoint-found == false) {
    @warn "Unrecognized breakpoint: #{$name}";
  }
}
