/*-----------
    Units
-----------*/

/* 100% wide */
%unit-full-width {
  width: $grid-unit-full-width;
}

/* 90% wide */
%unit-nine-tenths {
  width: $grid-unit-nine-tenths;
}

/* 80% wide */
%unit-four-fifths,
%unit-eight-tenths {
  width: $grid-unit-four-fifths;
}

/* 75% wide */
%unit-three-quarters {
  width: $grid-unit-three-quarters;
}

/* 70% wide */
%unit-seven-tenths {
  width: $grid-unit-seven-tenths;
}

/* 66.66% wide */
%unit-two-thirds {
  width: $grid-unit-two-thirds;
}

/* 60% wide */
%unit-three-fifths,
%unit-six-tenths {
  width: $grid-unit-three-fifths;
}

/* 50% wide */
%unit-half-width {
  width: $grid-unit-half-width;
}

/* 40% wide */
%unit-two-fifths,
%unit-four-tenths {
  width: $grid-unit-two-fifths;
}

/* 33.33% wide */
%unit-one-third {
  width: $grid-unit-one-third;
}

/* 30% wide */
%unit-three-tenths {
  width: $grid-unit-three-tenths;
}

/* 25% wide */
%unit-one-quarter {
  width: $grid-unit-one-quarter;
}

/* 20% wide */
%unit-one-fifth,
%unit-two-tenths {
  width: $grid-unit-one-fifth;
}

/* 10% wide */
%unit-one-tenth {
  width: $grid-unit-one-tenth;
}
