/*----------
    Body
----------*/

* {
  @include vendor(box-sizing, border-box);
}

html {}

body {
  font: $base-font-weight #{$base-font-percent}/#{$base-line-height} $base-font-family;
  color: $color-font;
  background-color: $color-background;
}
