/*============
    Colors
============*/

%bg-color-alt {
  background-color: $body-color-alt;
}

%bg-color-brand {
  background-color: $color-brand;
}

%bg-color-accent {
  background-color: $color-accent;
}

%bg-color-offset {
  background-color: $color-offset;
}
