/*============
    Colors
============*/

%color-brand {
  background-color: $site-color-brand;
}

%color-accent {
  background-color: $site-color-accent;
}

%color-offset {
  background-color: $site-color-offset;
}
