/*-----------
    Forms
-----------*/

fieldset {
  padding: $spacing-unit-half;
  @extend %spacing-base-bottom;
}

label {
  display: block;
  @extend %bold;
}

  %label-align {
    display: inline-block;
  }
