/*-----------
    Shared
-----------*/

// Margins
%margin-bottom--full {
  margin-bottom: $base-spacing-unit;
}

%margin-bottom--none {
  margin-bottom: 0;
}

// Display
%display--block {
  display: block;
}

// Font
%font--bold {
  font-weight: bold;
}

%font--italic {
  font-style: italic;
}

%font--milli {
  font-size: $base-font-size * 0.875;
}

%font--micro {
  font-size: $base-font-size * 0.75;
}
